<div class="cardBg flex flex-column justify-content-between">
    <div>
        <img src="../../../assets/logo/card-logo.svg" alt="logo">
    </div>
    <div class="flex flex-column">
        <div class="flex justify-content-between">
            <p class="numberCard">0000</p>
            <p class="numberCard">0000</p>
            <p class="numberCard">0000</p>
            <p class="numberCard">0000</p>
        </div>
        <div class="flex justify-content-between mt-4 cvcNameCard">
            <div>
                {{ name | uppercase}}
            </div>
            <div>
                23/22
            </div>
        </div>
    </div>
</div>